<div class="jumbotron bg-warning">
    <h1 class="display-4 text-center text-danger">Burger App</h1>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <img class="img-fluid" id="burger-image" src="../images/burger.png" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
                {{!-- {{Like a for loop}} --}}
                {{#each burgers}}
                {{#unless devoured}}
                {{burger_name}} <button class="devouredBtn">Devoured</button> <br>
                {{/unless}}
                {{/each}}
            
        </div>
        <div class="col-sm-6">
            {{#each burgers}}
            {{#if devoured}}
            {{burger_name}} <br>
            {{/if}}
            {{/each}}

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <br>
                    <form action="/api/burgers" method="POST">
                        <textarea style="display:block" class="mx-auto form-control" name="burger_name"
                            class="form-control form-control-sm"></textarea>
                        <br>
                        <button type="button" id="burgerBtn" style="display:block" class="btn btn-danger mx-auto">Add
                            New Burger</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>